@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;

  font: normal 100%/1.3 Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: inline-block;
  margin: 0;
  width: 100%;

  background-color: #18294f;
  color: #fff;
}

header h1 {
  margin: 0;
  padding: .5em .75em;

  font-weight: 700;
  text-align: center;
}

nav ul {
  display: inline-block;
  margin: .3em 0 .5em;
  padding: 0;
  list-style-type: none;

  font-size: 1.125rem;
}

nav a {
  display: inline-block;
  padding: .5em .75em;
  text-decoration: none;
  white-space: nowrap;

  color: #6c8fe0;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
    font-size: 100%;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  nav ul li {
    text-align: center;
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {
  html {
    line-height: 1.4;
    font-size: 110%;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  nav ul li {
    text-align: center;
    width: 25%;
  }

}
