@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;

  font: normal 100%/1.3 Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  margin: 0;

  background-color: #18294f;
  color: #fff;
}

header h1 {
  margin: 0;
  padding: .5em .75em;

  font-weight: 700;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: .3em 0 .5em;

  font-size: 1.125rem;

  list-style-type: none;
}

nav ul li {
  padding: .5em .75em;
}

nav a {
  text-decoration: none;
  white-space: nowrap;

  color: #6c8fe0;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
}
